.row{margin-top: 50px;}
.col-4-lg{margin-left: auto;
    margin-right: auto;}
.card-title{text-align: center;
		color: black;}
.container{margin-left: auto;
		margin-right: auto;}
.list-group-item{color: black;}
.card{
  border: none;
	text-decoration: none;
  background: #ffe;
}
.card.bor{
  border-radius: 6rem;
}
.col-4-lg{text-decoration: none;}
.page-link{color: black;
		border: none;
		border-radius: 50%;}
.list-group-item{background: #ffe;}

#topbar{background-color: lightgray;}

.log a{
  text-decoration: none;
  color: #000;
}
footer{
   background-color:#282828;
   color: white;
}
.ab{
  margin-top:30px;
}
.ab2{
  margin-top:20px;
}


/*searchbar*/

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:blue;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: blue;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

/*card hover*/

body {
  background: #ffe;
}
.card:hover {
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  transform: scale(1.05,1.05);
  background: #ffe;
}

$(document).ready(function(){

google.charts.load("current", {packages:["corechart"]});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
var data = google.visualization.arrayToDataTable([
['Task', 'Hours per Day'],
['Work', 11],
['Eat', 2],
['Commute', 2],
['Watch TV', 2],
['Sleep', 7]
]);

var options = {
title: 'My Daily Activities',
pieHole: 0.4,
};

var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
chart.draw(data, options);
}

});